{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <style>
        .mybut {
            height: 35px;
            width: 85%;
            margin: 0;
        }
    </style>
</head>
<body>

{% if todos %}
    <div class="container">
        <div class="d-flex flex-row">
            <h3 class="p-2">Todo List</h3> <a class="btn btn-primary form-control mybut" href="{% url 'create_todo' %}">Create</a>
        </div>
        {% for todo in todos %}
            <div class="todo">
                <p>{{ todo.name }}</p>
                <div class="description">{{ todo.text }}</div>
                <a class="btn btn-primary" href='update/{{ todo.id }}'>Update</a>
                <a class="btn btn-primary" href='delete/{{ todo.id }}'>Delete</a>
            </div>
            <hr>
        {% endfor %}
    </div>
{% else %}
    <h2>No TODOs</h2>
    <h2>Go to <a href={% url "create_todo" %}>/createTodo</a> to create a new TODO</h2>
{% endif %}
</body>
</html>