body {
    background-color: lightgoldenrodyellow;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mytabledetails th{
    text-align: left;
    width: 70px;
}

