{% extends 'pages/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        <h1>Contact Page</h1>
        {% if email|slice:4 == '<h1>' %} 
            {{ email|safe }}
        {% else %}
            {{ email|striptags }}
        {% endif %}
    {% endblock body %}
</body>
</html>