{% extends 'pages/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block body %}
        {{ data|date:"d.m.Y" }}
        {% if user.is_authenticated %}
            <h1>Home page for {{ user }}</h1>
        {% else %}
            <h1>Home page</h1>
        {% endif %}
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quod vitae reprehenderit labore porro magnam cumque alias dolorem. Delectus voluptatum perferendis sapiente et cupiditate reiciendis facere itaque, ullam doloribus nobis.</p>
    {% endblock body %}
</body>
</html>