{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bookblog/main.css' %}">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>

<body>
    <div class="container">
        {% block content %}
        Replace this text!
        {% endblock content %}
        <div class="navbar fixed-bottom">
            Total posts: {% total_posts %}
        </div>
    </div>
    
</body>

</html>