{# inherit from base.html #}
{% extends 'bookblog/base.html' %}

{% block content %}
<h3>Details: <span>{{ post.title|title }}</span></h3>
<hr>

<div class="mytabledetails">
    <h3>Author: {{ post.author }}</h3>
    <p>{{ post.body }}</p>
    <p><span style="border-bottom: 1px solid black">Created on: </span>{{ post.created }}</p>
    <p>Status {{ post.status }}</p>
    <a href="{% url 'bookblog:share' post.id %}">Send email with details</a>
</div>

<h2>Total comments</h2>
{% with comments.count as total_comments %}
{{ total_comments }} comment {{ total_comments|pluralize }}
{% endwith %}

{% for comment in comments %}
<p class="lead">Comment {{ comment.name }}</p>
<p>{{ comment.body|linebreaks }}</p>
<hr>
{% empty %}
<p>There are no comment yet.</p>
{% endfor %}

<h2>New comment</h2>
{% if new_comment %}
<h2>New comment added successfully</h2>
{% else %}
<h2>Added new comment</h2>
<form action="" method='POST'>
    {% csrf_token %}
    {{ comment_form.as_p }}
    <p><input type="submit" value='Add comment'></p>
</form>
{% endif %}

{% endblock content %}

