{# inherit from base.html #}
{% extends 'bookblog/base.html' %}

{% block content %}
    <h3>Details: <span>{{ post.title|title }}</span></h3>
    <hr>    

    <div class="mytabledetails">
        <h3>Author: {{ post.author }}</h3>
        <p>{{ post.body }}</p>
        <p><span style="border-bottom: 1px solid black">Created on: </span>{{ post.created }}</p>
        <p>Status {{ post.status }}</p>
        <a href="{% url 'bookblog:share' post.id %}">Send email with details</a>
    </div>  
{% endblock content %}