/* * {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
} */

body {
    background-color: antiquewhite;
}

p {
    color: black;
}

ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
}

li {
    display: inline;
}

ul li a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

ul > li > a:hover {
    border-top: 1px solid blueviolet;
    border-bottom: 1px solid blueviolet;
}