{% extends 'base.html' %}

{% block body %}
    <h1>All Book</h1>
    <hr>
    {% if messages %}
        {% for m in messages %}
            <div class="alert alert-success">
                {{ m }}
            </div>
        {% endfor %}
    {% endif %}
    {% for book in shelf %}
        <div class="d-flex">
            <h3>{{ book.name }}</h3>
            <small>{{ book.author }}</small>
            <img src="{{ book.picture.url }}" alt="{{ book.name }}" width="150" height="150">
            <a href="{% url 'edit_book' book.id %}">Edit</a>&nbsp;|&nbsp;<a href="{% url 'delete_book' book.id %}">Delete</a>
        </div>
        <br>
    {% endfor %}
    {% block script %}
        <script>
            $('.alert-success').fadeOut(3500);
        </script>
    {% endblock script %}
{% endblock body %}