<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <title>Expenses Tracker</title>
</head>

<body>

<nav>
    <ul>
        <li class="img"><img src="./static/images/dollar.png"></li>
        <li><a href="/">Expenses Tracker</a></li>

        <li class="right"><a href="/profile">Profile</a></li>

    </ul>
</nav>
<div class="body">

    {% if expenses %}
        <div>
            <h1>Summary</h1>
            <ul class="expenses-list">
                <li class="blue">{{ total }}$</li>

                {% for exp in expenses %}
                    <li class="red"> - {{ exp.price }}$</li>
                {% endfor %}


                <li class="green">= {{ left }}$ left</li>
            </ul>
        </div>
    {% endif %}

    <h1>My Expenses</h1>
    <a href="{% url 'create' %}" class="button">Add Expense</a>

    {% if expenses %}
        {% for e in expenses %}
        <div class="expenses-container">

            <div class="expense-container">
                <h2>{{ e.title }}</h2>
                <hr>
                <img src="{{ e.image_url }}">
                <p>{{ e.description }}</p>
                <div class="expense-detail">
                    <div>
                        <p>Price: {{ e.price }}$</p>
                    </div>
                    <div class="right">
                        <a class="button edit" href="{% url 'edit' e.id %}">Edit</a>
                        <a class="button delete" href="{% url 'delete' e.id %}">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}


        </div>
    {% endif %}

</div>
<footer>
    <div>Python Web Basics Exam Preparation @SoftUni</div>
</footer>


</body>
</html>