{% extends 'pages/base.html' %}

{% block body %}
<h1>All Product</h1>
<table border 1px solid black>
{% for product in all %}
    <tr>
        <td>{{product.title}}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td><a href="{{ product.get_absolute_url_for_edit }}">Edit</a></td>
        <td><a href="{{ product.get_absolute_url }}" onclick = "if (! confirm('Continue?')) { return false; }">Delete</a></td>
    </tr>
{% endfor %}
</table>
{% endblock body %}